*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
    list-style: none;

}

footer {
    background-image: linear-gradient(0deg, rgba(89, 0, 255, 0.466), rgba(23, 1, 82, 0.637)), url('/images/snt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100%;
}
#app {
    margin-top: 100px;
}
/* Navbar */
.ima_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white !important;
    border-bottom: 1px solid rgba(121, 121, 121, 0.52) !important;
    padding: 10px;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    z-index: 9999;
}

/* nav logo */
.ima_navbar .navLogo img {
    width: 60px;
}

/* nav list links */
.ima_navbar .navList ul li {
    float: left;
    list-style: none;
    margin-left: 15px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}
.ima_navbar .navList ul li:hover {
    margin-top: -1px;
}
 

.ima_navbar .navList ul li a {
    color: #313690;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ima_navbar .navList ul li a:hover {
    color: orange;
}
.ima_navbar .navList .buttonSinscrire {
    background: rgb(255,255,255);
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(248,177,65,1) 100%); 
    border-radius: 50px;
    padding: 5px;
    margin-top: -5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.ima_navbar .navList .buttonSinscrire a:hover {
    color: #ffffff;
}

.ima_navbar .navshowresposivelist {
    background: #0A0882;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    display: none;
}
.ima_navbar .navshowresposivelist:hover {
    background: #ec9200;
}

.closenavbar {
    position: absolute;
    text-align: right;
    font-size: 40px;
    top: 0;
    right: 0;
    background: #0A0882;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    margin: 15px;
    display: none;

}
.closenavbar:hover{
    background-color: #9868f1;
    transition: all 0.2s;
}
/* resposive nav bar  */
@media only screen and (max-width: 818px) {
    .ima_navbar .navshowresposivelist {
        display: block;
    }
    .ima_navbar .navList {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgb(36, 12, 168);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 1000px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    
    }
    .closenavbar {
        display: block; 
    }
    .ima_navbar .navList ul li a {
        color: white;
    }
    .ima_navbar .navList ul li {
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .ima_navbar .navList .buttonSinscrire a {
        color: #313690;
    }
}

/* end Nave Bar */

/* hoen styling */

.intitut-descrition-top-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF5F5;
    border-radius: 5px;
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.intitut-descrition-top-home .text-top-home {
    max-width: 500px;
}

.intitut-descrition-top-home .text-top-home .hedtit h1 {
    color: #0A0882;
    font-weight: bold;
}

.intitut-descrition-top-home .text-top-home .buttongotoabout a {
    background-color: #F8B142;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.intitut-descrition-top-home .text-top-home .buttongotoabout a  .bi {
    margin-left: 15px;
}

.intitut-descrition-top-home .text-top-home .heddesc p {
    color: #575757;
     
}   

.intitut-descrition-top-home .img-top-home img {
    width: 300px;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
     user-select:none;
     pointer-events:none
}

.ima-mession-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 60px;
}

.ima-mession-home .ima-mession-image img {
    width: 450px;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
     user-select:none;
     pointer-events:none
}

.ima-mession-home .ima-mession-text {
    text-align: center;
}
.ima-mession-home .ima-mession-text .ima-mess-title h1 {
    font-weight: bold;
    color: #F8B142;
}

.ima-mession-home .ima-mession-text .ima-mess-desc p {
    color: #575757;
}

.ima-mession-home .ima-mession-text .ima-mess-button a {
    background-color: #313690;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.ima-mession-home .ima-mession-text .ima-mess-button a .bi {
    margin-left: 15px;
}

@media only screen and (max-width: 995px) {
    .ima-mession-home .ima-mession-image img {
        width: 100%;
    }
    .intitut-descrition-top-home {
        padding: 20px;
    }
    .intitut-descrition-top-home .img-top-home img {
        width: 100%;
    }
}


@media only screen and (max-width: 875px) {
    .intitut-descrition-top-home .img-top-home img {
        width: 300pz;
    }
 
}

@media only screen and (max-width: 519px) {
    .intitut-descrition-top-home {
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .intitut-descrition-top-home .img-top-home img {
        width: 100%;
    }
    .ima-mession-home {
        flex-wrap: wrap;
    }
    .ima-mession-home .ima-mession-image img {
        width: 100%;
    }
}

.videowhodescrib {
    margin-top: 65px;

}
.videowhodescrib .titlevideo h2 {
    font-weight: bold;
    color: #0A0882;
}
.videowhodescrib .videonow iframe {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid orange;
    margin-top: 15px;
}

.actualisezhome {
    margin-top: 65px;
}
.actualisezhome .actualizertitle h2 {
    font-weight: bold;
    color: #0A0882;
}
.actualisezhome .actualiserstextimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background: linear-gradient(261deg, #42468D -470.4%, rgba(248, 177, 66, 0) 137%);
    border-radius: 2px;
    padding: 35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.actualisezhome .actualiserstextimg .actutext {
    text-align: center;
    max-width: 500px;
}
.actualisezhome .actualiserstextimg .actutext .actbtn a {
    padding: 10px;
    background: #514A84;
    border-radius: 30.5px;      
    text-decoration: none;
    color: white;
     padding-left: 30px;
     padding-right: 30px;
}
.actualisezhome .actualiserstextimg .actutext h2 {
    color: #0A0882;
    font-weight: bold;
}
.actualisezhome .actualiserstextimg .actutext p {
    color: #A99595;
}
.actualisezhome .actualiserstextimg .actualimg img {
    width: 300px;
}

@media only screen and (max-width: 770px) {
    .actualisezhome .actualiserstextimg .actualimg img {
        display: none;
    }
}


.paneltopabout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF5F5;
    border-radius: 10px;
    padding: 10px;
}

.paneltopabout .panelaboutimg img {
    width: 424px;
}

.paneltopabout .panelabouttext {
    max-width: 500px;
} 
.paneltopabout .panelabouttext h1 {
    font-weight: bold;
    color: #313690;
}
.paneltopabout ,topaboutdesc {

    font-weight: 300;
}
.paneltopabout ,topaboutdesc p {
    line-height: 1.5rem !important;
    text-align: justify;
    font-size: 15px;
}

@media only screen and (max-width: 997px) {
    .paneltopabout {
        padding: 25px;
    }
    .paneltopabout .panelaboutimg img {
        width: 100%;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 527px) {
    .paneltopabout {
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .paneltopabout .panelabouttext {
        margin-top: 40px;
    }
}

.aboutmession {
    margin-top: 80px;
    z-index: -1;
    padding: 150px;
    background-image: url("../images/1ovelay.png");
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.aboutmession .messiontitle h1{
    font-weight: bold;
    color: orange;
}
.aboutmession .messiondesc {
    color: white;
    font-size: 19px;
    border-left: 3px solid orange;
}
.aboutmession .messiondesc  p {
    margin-left: 15px;
}

@media only screen and (max-width: 992px) {
    .aboutmession {
        padding: 35px;
       
    }
}
@media only screen and (max-width: 526px) {
    .aboutmession {
        padding: 25px;
       
    }
    .aboutmession .messiondesc {
        font-size: 15px;
    }
}
.aboutcountstudent {
    margin-top: 80px;
}
.aboutcountstudent .allcountstud {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA10B;
    padding: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.aboutcountstudent .allcountstud .countcart {
    text-align: center;
    flex: 1;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    padding: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 180px;
    min-width: 180px;
    cursor: pointer;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    margin-bottom: 1rem;
}
.aboutcountstudent .allcountstud {
    overflow-x: scroll;
}
.aboutcountstudent .allcountstud .countcart b {
    color: orange;
    font-weight: bold;
    font-size: 20px;
    
   
}

.aboutcountstudent .justformargintop {
    margin-top: 30px;
}
.aboutcountstudent .allcountstud .countcart h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #3A3E95;

}
.aboutcountstudent .allcountstud .countcart:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    z-index: 99;
}

.aboutcountstudent .countdesc {
    text-align: center;
    padding: 80px;
    background-color: orange;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 14px 91px 7px rgba(0, 0, 0, 0.25);
    margin: 20px;
    margin-top: -100px;
    position: relative;
    
}
.aboutcountstudent .countdesc p {
    font-size: 20px;
    color: #fff;
}

@media only screen and (max-width: 996px) {
    .aboutcountstudent .allcountstud {
        justify-content: unset;
    }
}

@media only screen and (max-width: 768px) {
    .aboutcountstudent .countdesc {
        background-color: #0A0882;
        padding: 10px;
    }
}

.imagesliderabout {
    margin-top: 90px;
}

.imagesliderabout .imagesliderstitle h2{
    text-align: center;
    font-weight: bold;
    color: #0A0882;

}


.imagesliderabout .imgcarsolabout {
    margin-top: 30px;
}
.carousel-cell {
    width: 100%;
    object-fit: contain;
    max-height: 500px;
    min-height: 500px;
    margin-right: 10px;
    background: orange;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
.flickity-page-dots {
    position: absolute;
    width: 100%; 
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1;
  }
  
@media only screen and (max-width: 810px) {
    .carousel-cell {
        height: 100vh;
        object-fit: contain;
    }
}

.ifonetotrgister {
    margin-top: 90px;
    text-align: center;
    padding: 50px;
    margin-bottom: 90px;
}
.ifonetotrgister .registitle h2 {
    font-weight: bold;
    color: #0A0882;
}

.ifonetotrgister  .regisdesc p {
    font-size: 25px !important;
    font-weight: 200;
}
.ifonetotrgister .registerbutin a {
    text-decoration: none;
    background-color: #0A0882;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width: 772px) {
    .ifonetotrgister  .regisdesc p{
        font-size: 17px !important;
        font-weight: 200;
    }
    .ifonetotrgister {
        padding: 25px;
    }
}


.formationinlistwithdetails  {
    margin-top: 50px;
    display: flex;
}
.formationinlistwithdetails .formationtitleee {
    background-color: #0A0882;
    padding: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.formationinlistwithdetails .allformationlefftt {
    flex: 2;
    margin-right: 25px;
    border-radius: 5px;
    width: 100%;
}

.formationinlistwithdetails .fomationdetailssss {
    flex: 4;
     
}
.formationinlistwithdetails .allformationlefftt ul a {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgba(70, 70, 70, 0.438);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    width: 100%;
}

.formationinlistwithdetails .allformationlefftt ul a:hover {
    background-color: rgb(241, 201, 127);
}
 
.formationinlistwithdetails .fomationdetailssss {
    background-color: rgba(189, 189, 189, 0.349);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 
 

@media only screen and (max-width: 998px) {
    .formationinlistwithdetails {
        display: block;
    }   
    .formationinlistwithdetails .allformationlefftt {
        margin-top: 20px;
        margin-left: -15px;
    }
}

/* conbtact page */
.contactmapandformes {
    display: flex;
    margin-top: 100px;
}
.contacttitle h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0A0882;
}
.contactmapandformes .contactmapes {
    flex: 1;
  
}
.contactmapandformes .contactmapes iframe {
    border-radius: 5px;
    margin-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(199, 199, 199, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

.contactmapandformes .contcatforms {
    flex: 1;

}

.contactmapandformes .contcatforms .nputdata input {
    border: 1px solid rgba(0, 0, 0, 0.349);
    outline: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    color: #0A0882;
    margin-bottom: 10px;
}

.contactmapandformes .contcatforms .nputdata textarea {
    border: 1px solid rgba(0, 0, 0, 0.349);
    outline: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    color: #0A0882;
    margin-bottom: 10px;
    height: 175px; 
}

.contactmapandformes .contcatforms button {
    background: linear-gradient(262.07deg, rgba(0, 15, 153, 0.921875) -56.38%, rgba(248, 248, 248, 0) 273.92%);
    border-radius: 5px;
    padding: 7px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 826px) {
    .contactmapandformes {
        display: block !important;
    }

    .contactmapandformes .contactmapes iframe {
        margin-left: 0;
        margin-top: 30px;
    }
}


.contactinfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(248,177,65,1) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactinfo .contactdatas {
    line-height: 35px;
}

.contactinfo .contactopeningatto {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 771px) {
    .contactinfo {
        display: block;
    }
    .contactinfo .contactopeningatto {
        margin-top: 40px;
    }
}
/* end contact page */

/* blog page */
.blogtitletop h1 {
    font-size: 70px;
    font-weight: bold;
    color: #0A0882;
    text-align: center;
}

.blogpaneltop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.blogpaneltop .blogtexxxx {
    max-width: 500px;
}

.blogpaneltop .blogtexxxx .bogpaneltitle h2 {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.blogpaneltop .blogtexxxx .blogpaneldesc p {
    font-weight: 300;
}

.blogpaneltop .blogimg {
    background: linear-gradient(247.01deg, #F5B308 -90.25%, rgba(255, 187, 14, 0) 97.08%);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blogpaneltop .blogimg img {
    width: 300px;
} 

@media only screen and (max-width: 994px) {
    .blogpaneltop .blogtexxxx .bogpaneltitle h2  {
        font-size: 30px;
    }
    .blogpaneltop .blogimg {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .blogpaneltop   {
       flex-wrap: wrap;
       background-color: #f3f0ea;
       padding: 15px;
    }
    .blogpaneltop .blogimg img {
        width: 100%;
    }
    .blogpaneltop .blogimg {
        margin-right: 0;
    }
    .blogpaneltop .blogtexxxx {
        margin-top: 25px;
    }
    .blogpaneltop .blogtexxxx .bogpaneltitle h2 {
        font-size: 20px;
    }
}

.allcartdsblog {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.allcartdsblog  a {
    text-decoration: none;
}
.allcartdsblog .cardblog {
    max-width: 150px;
    margin-right: 5px;
    margin-bottom: 15px;
     
}
.allcartdsblog .cardblog span {
    color: #575757;
    font-weight: 400;
    font-size: 12px;
}
.allcartdsblog .cardblog  {
    color: black;
    font-size: 12px;
    line-height: 18px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.allcartdsblog .cardblog:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: -5px;
}
.allcartdsblog .cardblog  p {
    font-size: 10px;
}
.allcartdsblog .cardblog .blogcardimg img {
    width: 100%;
}
/* end blog page */

/* login page */

.loginheader {
    text-align: center;
    background: linear-gradient(111.82deg, #FEC973 19.22%, rgba(255, 255, 255, 0) 174.99%);
    padding: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.loginheader .loginheadertitle h1 {
    font-size: 60px;
    font-weight: bold;
    color: #0A0882;
}
 
@media only screen and (max-width: 529px) {
    .loginheader  {
       display: none;
    }

}

.loginformforstudent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.loginformforstudent .loginformimg img {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.loginformforstudent .loginformrealform {
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 30px;
    backdrop-filter: blur(10px);
    margin-top: 140px;
    margin-left: -120px;

}
.loginformforstudent .loginformrealform form .loginuser input {
    border: none;
    outline: none;
    background: #f8eeee;
    border-radius: 33px;
    padding: 12px;
    margin-bottom: 15px;
    padding-left: 29px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    font-weight: bold;
    
}
.loginformforstudent .loginformrealform form button {
    background: linear-gradient(102.02deg, #0012B8 12.06%, rgba(155, 155, 155, 0) 210.69%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.loginformforstudent .loginformrealform form .ifnewstudnt {
    font-size: 12px;
    max-width: 150px;
}
.loginformforstudent .loginformrealform  .registecomnovo {
    background: linear-gradient(111.82deg, #FEC973 19.22%, rgba(255, 255, 255, 0) 174.99%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;

    margin-top: 10px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    text-align: center;
    
}
.loginformforstudent .loginformrealform  .registecomnovo a {
    color: #0A0882;
    font-weight: bold;
    text-decoration: none;
}
.loginformforstudent .loginformrealform  form .orregister {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginformforstudent .loginformrealform  form .orregister .lineagainghh {
    width: 100px;
    height: 1px;
    background-color: #b3b4b8;
}

@media only screen and (max-width: 486px) {
    .loginformforstudent .loginformimg img {
        display: none;
    }
    .loginformforstudent .loginformrealform {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* end login page */

/* register page */
.registeruseraccont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.registeruseraccont .registerleftimg img {
    width: 480px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
.registeruseraccont .registerformssss {
    background: #FFFFFF;
    box-shadow: 6px 8px 37px -15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
.registeruseraccont .registerformssss form .useregisinp input {
    border: none;
    outline: none;
    background: #f8eeee;
    border-radius: 33px;
    padding: 12px;
    margin-bottom: 25px;
    padding-left: 29px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    font-weight: bold;
    width: 100%;
}
.registeruseraccont .registerformssss form .registerbtntnt {
    background: linear-gradient(102.02deg, #0012B8 12.06%, rgba(155, 155, 155, 0) 210.69%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

@media only screen and (max-width: 992px) {
    .registeruseraccont .registerleftimg img {
        width: 100%;
    }
    .registeruseraccont .registerformssss {
        width: 100%;
    }
    .registeruseraccont .registerformssss form .useregisinp input {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .registeruseraccont {
        display: block;
    }
    .registeruseraccont .registerformssss {
       margin-top: -150px;
       position: relative;
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       background-color: rgba(255, 255, 255, 0.589);
       box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       backdrop-filter: blur(10px);
    }
}
/* end register page */

/* inscription page */
.inscriptiontoptitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bginsc.png);
    color: white;
    margin-top: -50px;
    padding: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    

}
.inscriptiontoptitle h1 {
    font-weight: bold;
}

.inscriptionformsall {
  
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inscriptionformsall form .inscriusername {
    display: flex; 
    margin-bottom: 13px;
}
.inscriptionformsall form .inscriusername .fname {
    flex: 2;
}
.inscriptionformsall form .inscriusername .lname {
    flex: 2;
    margin-left: 5px;
}
.inscriptionformsall form .inscriusername input {
    width: 300px;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .inscrimgphoto input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
}
.inscriptionformsall form .inputtitle {
    color: #0012B8;
    font-weight: bold;
    font-size: 14px;
}
.inscriptionformsall form .inscrimgphoto {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsnational {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsnational input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .ninsctelephone {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsctelephone input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .dinscberth {
    margin-bottom: 13px;
}

.inscriptionformsall form .dinscberth input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .ninscschole {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninscschole select {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form button {
    background: linear-gradient(263.2deg, rgba(0, 15, 153, 0.921875) -123.35%, rgba(248, 248, 248, 0) 256.97%);
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 620px) {
    .inscriptionformsall form .inscriusername {
        display: block;  
    }
    .inscriptionformsall form .inscriusername .fname {
        margin-bottom: 13px;
    }
    .inscriptionformsall form .inscriusername .lname {
        flex: 2;
        margin-left: 0;
    }
    .inscriptionformsall form .inscriusername input {
        width: 100%;
        padding: 9px;
    }
}
/* end inscriotion page */


/* 
    
*/
.messageauipatrlee {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* profile students */
.bgtop {
    width: 100%;
    padding: 130px;
    background: rgb(255,149,0);
    background: linear-gradient(4deg, rgba(255,149,0,1) 0%, rgb(240, 176, 176) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    font-weight:bold;
    color: white;
    font-size: 20px;
}

.profileimg {
    display: flex;
    justify-content: center;  
}

.profileimg img {
    border: 1px solid blue;
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-top: -100px;
}
.studentsname {
    display: flex;
    justify-content: center;
   
}
.studentsname h1 {
    font-weight: 700;
    color: blue;
     
}
.joinedat {
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 1px;
}

.formsupdatingdatastudents {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("/images/std.webp");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-clip: padding-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.formsupdatingdatastudents .infpstudentsss {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 500px;
}

.formsupdatingdatastudents .infpstudentsss  .stdtitle span{
  
    color: #000dff;
    text-transform: uppercase;
   text-align: right;
    
}
 
.formsupdatingdatastudents .infpstudentsss  .stdtitle {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 542px) {
    .formsupdatingdatastudents {
        padding: 10px;
    }
    .bgtop {
        padding: 50px;
        padding-bottom: 100px;
    }
}