*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
    list-style: none;
   
}

body {
    background-color: rgb(255, 255, 255);
}
#app {
    margin-top: 100px;
}
/* Navbar */
.ima_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white !important;
    border-bottom: 1px solid rgba(121, 121, 121, 0.52) !important;
    padding: 10px;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
}

/* nav logo */
.ima_navbar .navLogo img {
    width: 60px;
}

/* nav list links */
.ima_navbar .navList ul li {
    float: left;
    list-style: none;
    margin-left: 15px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}
.ima_navbar .navList ul li:hover {
    margin-top: -1px;
}
 

.ima_navbar .navList ul li a {
    color: #313690;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ima_navbar .navList ul li a:hover {
    color: orange;
}
.ima_navbar .navList .buttonSinscrire {
    background: rgb(255,255,255);
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(248,177,65,1) 100%); 
    border-radius: 50px;
    padding: 5px;
    margin-top: -5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.ima_navbar .navList .buttonSinscrire a:hover {
    color: #ffffff;
}

.ima_navbar .navshowresposivelist {
    background: #0A0882;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    display: none;
}
.ima_navbar .navshowresposivelist:hover {
    background: #ec9200;
}

.closenavbar {
    position: absolute;
    text-align: right;
    font-size: 40px;
    top: 0;
    right: 0;
    background: #0A0882;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    margin: 15px;
    display: none;

}
.closenavbar:hover{
    background-color: #9868f1;
    transition: all 0.2s;
}
/* resposive nav bar  */
@media only screen and (max-width: 818px) {
    .ima_navbar .navshowresposivelist {
        display: block;
    }
    .ima_navbar .navList {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgb(36, 12, 168);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 1000px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    
    }
    .closenavbar {
        display: block; 
    }
    .ima_navbar .navList ul li a {
        color: white;
    }
    .ima_navbar .navList ul li {
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .ima_navbar .navList .buttonSinscrire a {
        color: #313690;
    }
}

/* end Nave Bar */

/* hoen styling */

.intitut-descrition-top-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF5F5;
    border-radius: 5px;
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.intitut-descrition-top-home .text-top-home {
    max-width: 500px;
}

.intitut-descrition-top-home .text-top-home .hedtit h1 {
    color: #0A0882;
    font-weight: bold;
}

.intitut-descrition-top-home .text-top-home .buttongotoabout a {
    background-color: #F8B142;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.intitut-descrition-top-home .text-top-home .buttongotoabout a  .bi {
    margin-left: 15px;
}

.intitut-descrition-top-home .text-top-home .heddesc p {
    color: #575757;
     
}   

.intitut-descrition-top-home .img-top-home img {
    width: 300px;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
     user-select:none;
     pointer-events:none
}

.ima-mession-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 60px;
}

.ima-mession-home .ima-mession-image img {
    width: 450px;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
     user-select:none;
     pointer-events:none
}

.ima-mession-home .ima-mession-text {
    text-align: center;
}
.ima-mession-home .ima-mession-text .ima-mess-title h1 {
    font-weight: bold;
    color: #F8B142;
}

.ima-mession-home .ima-mession-text .ima-mess-desc p {
    color: #575757;
}

.ima-mession-home .ima-mession-text .ima-mess-button a {
    background-color: #313690;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.ima-mession-home .ima-mession-text .ima-mess-button a .bi {
    margin-left: 15px;
}

@media only screen and (max-width: 995px) {
    .ima-mession-home .ima-mession-image img {
        width: 100%;
    }
    .intitut-descrition-top-home {
        padding: 20px;
    }
    .intitut-descrition-top-home .img-top-home img {
        width: 100%;
    }
}


@media only screen and (max-width: 875px) {
    .intitut-descrition-top-home .img-top-home img {
        width: 300pz;
    }
 
}

@media only screen and (max-width: 519px) {
    .intitut-descrition-top-home {
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .intitut-descrition-top-home .img-top-home img {
        width: 100%;
    }
    .ima-mession-home {
        flex-wrap: wrap;
    }
    .ima-mession-home .ima-mession-image img {
        width: 100%;
    }
}

.videowhodescrib {
    margin-top: 65px;

}
.videowhodescrib .titlevideo h2 {
    font-weight: bold;
    color: #0A0882;
}
.videowhodescrib .videonow iframe {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid orange;
    margin-top: 15px;
}

.actualisezhome {
    margin-top: 65px;
}
.actualisezhome .actualizertitle h2 {
    font-weight: bold;
    color: #0A0882;
}
.actualisezhome .actualiserstextimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background: linear-gradient(261deg, #42468D -470.4%, rgba(248, 177, 66, 0) 137%);
    border-radius: 2px;
    padding: 35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.actualisezhome .actualiserstextimg .actutext {
    text-align: center;
    max-width: 500px;
}
.actualisezhome .actualiserstextimg .actutext .actbtn a {
    padding: 10px;
    background: #514A84;
    border-radius: 30.5px;      
    text-decoration: none;
    color: white;
     padding-left: 30px;
     padding-right: 30px;
}
.actualisezhome .actualiserstextimg .actutext h2 {
    color: #0A0882;
    font-weight: bold;
}
.actualisezhome .actualiserstextimg .actutext p {
    color: #A99595;
}
.actualisezhome .actualiserstextimg .actualimg img {
    width: 300px;
}

@media only screen and (max-width: 770px) {
    .actualisezhome .actualiserstextimg .actualimg img {
        display: none;
    }
}


.paneltopabout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF5F5;
    border-radius: 10px;
    padding: 10px;
}

.paneltopabout .panelaboutimg img {
    width: 424px;
}

.paneltopabout .panelabouttext {
    max-width: 500px;
} 
.paneltopabout .panelabouttext h1 {
    font-weight: bold;
    color: #313690;
}
.paneltopabout ,topaboutdesc {

    font-weight: 300;
}
.paneltopabout ,topaboutdesc p {
    line-height: 1.5rem !important;
    text-align: justify;
    font-size: 15px;
}

@media only screen and (max-width: 997px) {
    .paneltopabout {
        padding: 25px;
    }
    .paneltopabout .panelaboutimg img {
        width: 100%;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 527px) {
    .paneltopabout {
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .paneltopabout .panelabouttext {
        margin-top: 40px;
    }
}

.aboutmession {
    margin-top: 80px;
    z-index: -1;
    padding: 150px;
    background-image: url("../images/1ovelay.png");
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.aboutmession .messiontitle h1{
    font-weight: bold;
    color: orange;
}
.aboutmession .messiondesc {
    color: white;
    font-size: 19px;
    border-left: 3px solid orange;
}
.aboutmession .messiondesc  p {
    margin-left: 15px;
}

@media only screen and (max-width: 992px) {
    .aboutmession {
        padding: 35px;
       
    }
}
@media only screen and (max-width: 526px) {
    .aboutmession {
        padding: 25px;
       
    }
    .aboutmession .messiondesc {
        font-size: 15px;
    }
}
.aboutcountstudent {
    margin-top: 80px;
}
.aboutcountstudent .allcountstud {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A3E95;
    padding: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.aboutcountstudent .allcountstud .countcart {
    text-align: center;
    flex: 1;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    padding: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 180px;
    cursor: pointer;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.aboutcountstudent .allcountstud .countcart b {
    color: orange;
    font-weight: bold;
    font-size: 20px;
    
   
}

.aboutcountstudent .justformargintop {
    margin-top: 30px;
}
.aboutcountstudent .allcountstud .countcart h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #3A3E95;

}
.aboutcountstudent .allcountstud .countcart:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}