

.ifonetotrgister {
    margin-top: 90px;
    text-align: center;
    padding: 50px;
    margin-bottom: 90px;
}
.ifonetotrgister .registitle h2 {
    font-weight: bold;
    color: #0A0882;
}

.ifonetotrgister  .regisdesc p {
    font-size: 25px !important;
    font-weight: 200;
}
.ifonetotrgister .registerbutin a {
    text-decoration: none;
    background-color: #0A0882;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width: 772px) {
    .ifonetotrgister  .regisdesc p{
        font-size: 17px !important;
        font-weight: 200;
    }
    .ifonetotrgister {
        padding: 25px;
    }
}


.formationinlistwithdetails  {
    margin-top: 50px;
    display: flex;
}
.formationinlistwithdetails .formationtitleee {
    background-color: #0A0882;
    padding: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.formationinlistwithdetails .allformationlefftt {
    flex: 2;
    margin-right: 25px;
    border-radius: 5px;
    width: 100%;
}

.formationinlistwithdetails .fomationdetailssss {
    flex: 4;
     
}
.formationinlistwithdetails .allformationlefftt ul a {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgba(70, 70, 70, 0.438);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    width: 100%;
}

.formationinlistwithdetails .allformationlefftt ul a:hover {
    background-color: rgb(241, 201, 127);
}
 
.formationinlistwithdetails .fomationdetailssss {
    background-color: rgba(189, 189, 189, 0.349);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 
 

@media only screen and (max-width: 998px) {
    .formationinlistwithdetails {
        display: block;
    }   
    .formationinlistwithdetails .allformationlefftt {
        margin-top: 20px;
        margin-left: -15px;
    }
}

/* conbtact page */
.contactmapandformes {
    display: flex;
    margin-top: 100px;
}
.contacttitle h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0A0882;
}
.contactmapandformes .contactmapes {
    flex: 1;
  
}
.contactmapandformes .contactmapes iframe {
    border-radius: 5px;
    margin-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(199, 199, 199, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

.contactmapandformes .contcatforms {
    flex: 1;

}

.contactmapandformes .contcatforms .nputdata input {
    border: 1px solid rgba(0, 0, 0, 0.349);
    outline: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    color: #0A0882;
    margin-bottom: 10px;
}

.contactmapandformes .contcatforms .nputdata textarea {
    border: 1px solid rgba(0, 0, 0, 0.349);
    outline: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    color: #0A0882;
    margin-bottom: 10px;
    height: 175px; 
}

.contactmapandformes .contcatforms button {
    background: linear-gradient(262.07deg, rgba(0, 15, 153, 0.921875) -56.38%, rgba(248, 248, 248, 0) 273.92%);
    border-radius: 5px;
    padding: 7px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 826px) {
    .contactmapandformes {
        display: block !important;
    }

    .contactmapandformes .contactmapes iframe {
        margin-left: 0;
        margin-top: 30px;
    }
}


.contactinfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(248,177,65,1) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactinfo .contactdatas {
    line-height: 35px;
}

.contactinfo .contactopeningatto {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 771px) {
    .contactinfo {
        display: block;
    }
    .contactinfo .contactopeningatto {
        margin-top: 40px;
    }
}
/* end contact page */

/* blog page */
.blogtitletop h1 {
    font-size: 70px;
    font-weight: bold;
    color: #0A0882;
    text-align: center;
}

.blogpaneltop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.blogpaneltop .blogtexxxx {
    max-width: 500px;
}

.blogpaneltop .blogtexxxx .bogpaneltitle h2 {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.blogpaneltop .blogtexxxx .blogpaneldesc p {
    font-weight: 300;
}

.blogpaneltop .blogimg {
    background: linear-gradient(247.01deg, #F5B308 -90.25%, rgba(255, 187, 14, 0) 97.08%);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blogpaneltop .blogimg img {
    width: 300px;
} 

@media only screen and (max-width: 994px) {
    .blogpaneltop .blogtexxxx .bogpaneltitle h2  {
        font-size: 30px;
    }
    .blogpaneltop .blogimg {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .blogpaneltop   {
       flex-wrap: wrap;
       background-color: #f3f0ea;
       padding: 15px;
    }
    .blogpaneltop .blogimg img {
        width: 100%;
    }
    .blogpaneltop .blogimg {
        margin-right: 0;
    }
    .blogpaneltop .blogtexxxx {
        margin-top: 25px;
    }
    .blogpaneltop .blogtexxxx .bogpaneltitle h2 {
        font-size: 20px;
    }
}

.allcartdsblog {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.allcartdsblog  a {
    text-decoration: none;
}
.allcartdsblog .cardblog {
    max-width: 150px;
    margin-right: 5px;
    margin-bottom: 15px;
     
}
.allcartdsblog .cardblog span {
    color: #575757;
    font-weight: 400;
    font-size: 12px;
}
.allcartdsblog .cardblog  {
    color: black;
    font-size: 12px;
    line-height: 18px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.allcartdsblog .cardblog:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: -5px;
}
.allcartdsblog .cardblog  p {
    font-size: 10px;
}
.allcartdsblog .cardblog .blogcardimg img {
    width: 100%;
}
/* end blog page */

/* login page */

.loginheader {
    text-align: center;
    background: linear-gradient(111.82deg, #FEC973 19.22%, rgba(255, 255, 255, 0) 174.99%);
    padding: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.loginheader .loginheadertitle h1 {
    font-size: 60px;
    font-weight: bold;
    color: #0A0882;
}
 
@media only screen and (max-width: 529px) {
    .loginheader  {
       display: none;
    }

}

.loginformforstudent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.loginformforstudent .loginformimg img {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.loginformforstudent .loginformrealform {
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 30px;
    backdrop-filter: blur(10px);
    margin-top: 140px;
    margin-left: -120px;

}
.loginformforstudent .loginformrealform form .loginuser input {
    border: none;
    outline: none;
    background: #f8eeee;
    border-radius: 33px;
    padding: 12px;
    margin-bottom: 15px;
    padding-left: 29px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    font-weight: bold;
    
}
.loginformforstudent .loginformrealform form button {
    background: linear-gradient(102.02deg, #0012B8 12.06%, rgba(155, 155, 155, 0) 210.69%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.loginformforstudent .loginformrealform form .ifnewstudnt {
    font-size: 12px;
    max-width: 150px;
}
.loginformforstudent .loginformrealform  .registecomnovo {
    background: linear-gradient(111.82deg, #FEC973 19.22%, rgba(255, 255, 255, 0) 174.99%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;

    margin-top: 10px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    text-align: center;
    
}
.loginformforstudent .loginformrealform  .registecomnovo a {
    color: #0A0882;
    font-weight: bold;
    text-decoration: none;
}
.loginformforstudent .loginformrealform  form .orregister {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginformforstudent .loginformrealform  form .orregister .lineagainghh {
    width: 100px;
    height: 1px;
    background-color: #b3b4b8;
}

@media only screen and (max-width: 486px) {
    .loginformforstudent .loginformimg img {
        display: none;
    }
    .loginformforstudent .loginformrealform {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* end login page */

/* register page */
.registeruseraccont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.registeruseraccont .registerleftimg img {
    width: 480px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
.registeruseraccont .registerformssss {
    background: #FFFFFF;
    box-shadow: 6px 8px 37px -15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
.registeruseraccont .registerformssss form .useregisinp input {
    border: none;
    outline: none;
    background: #f8eeee;
    border-radius: 33px;
    padding: 12px;
    margin-bottom: 25px;
    padding-left: 29px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    font-weight: bold;
    width: 100%;
}
.registeruseraccont .registerformssss form .registerbtntnt {
    background: linear-gradient(102.02deg, #0012B8 12.06%, rgba(155, 155, 155, 0) 210.69%);
    border-radius: 33px;
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

@media only screen and (max-width: 992px) {
    .registeruseraccont .registerleftimg img {
        width: 100%;
    }
    .registeruseraccont .registerformssss {
        width: 100%;
    }
    .registeruseraccont .registerformssss form .useregisinp input {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .registeruseraccont {
        display: block;
    }
    .registeruseraccont .registerformssss {
       margin-top: -150px;
       position: relative;
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       background-color: rgba(255, 255, 255, 0.589);
       box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       backdrop-filter: blur(10px);
    }
}
/* end register page */

/* inscription page */
.inscriptiontoptitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bginsc.png);
    color: white;
    margin-top: -50px;
    padding: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    

}
.inscriptiontoptitle h1 {
    font-weight: bold;
}

.inscriptionformsall {
  
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inscriptionformsall form .inscriusername {
    display: flex; 
    margin-bottom: 13px;
}
.inscriptionformsall form .inscriusername .fname {
    flex: 2;
}
.inscriptionformsall form .inscriusername .lname {
    flex: 2;
    margin-left: 5px;
}
.inscriptionformsall form .inscriusername input {
    width: 300px;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .inscrimgphoto input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
}
.inscriptionformsall form .inputtitle {
    color: #0012B8;
    font-weight: bold;
    font-size: 14px;
}
.inscriptionformsall form .inscrimgphoto {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsnational {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsnational input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .ninsctelephone {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninsctelephone input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .dinscberth {
    margin-bottom: 13px;
}

.inscriptionformsall form .dinscberth input {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form .ninscschole {
    margin-bottom: 13px;
}
.inscriptionformsall form .ninscschole select {
    width: 100%;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    background-color: #e9e9ec;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.inscriptionformsall form button {
    background: linear-gradient(263.2deg, rgba(0, 15, 153, 0.921875) -123.35%, rgba(248, 248, 248, 0) 256.97%);
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 620px) {
    .inscriptionformsall form .inscriusername {
        display: block;  
    }
    .inscriptionformsall form .inscriusername .fname {
        margin-bottom: 13px;
    }
    .inscriptionformsall form .inscriusername .lname {
        flex: 2;
        margin-left: 0;
    }
    .inscriptionformsall form .inscriusername input {
        width: 100%;
        padding: 9px;
    }
}
/* end inscriotion page */


/* 
    
*/
.messageauipatrlee {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* profile students */
.bgtop {
    width: 100%;
    padding: 130px;
    background: rgb(255,149,0);
    background: linear-gradient(4deg, rgba(255,149,0,1) 0%, rgb(240, 176, 176) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    font-weight:bold;
    color: white;
    font-size: 20px;
}

.profileimg {
    display: flex;
    justify-content: center;  
}

.profileimg img {
    border: 1px solid blue;
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-top: -100px;
}
.studentsname {
    display: flex;
    justify-content: center;
   
}
.studentsname h1 {
    font-weight: 700;
    color: blue;
     
}
.joinedat {
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 1px;
}

.formsupdatingdatastudents {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("/images/std.webp");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-clip: padding-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.formsupdatingdatastudents .infpstudentsss {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 500px;
}

.formsupdatingdatastudents .infpstudentsss  .stdtitle span{
  
    color: #000dff;
    text-transform: uppercase;
   text-align: right;
    
}
 
.formsupdatingdatastudents .infpstudentsss  .stdtitle {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 542px) {
    .formsupdatingdatastudents {
        padding: 10px;
    }
    .bgtop {
        padding: 50px;
        padding-bottom: 100px;
    }
}